

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}


:root {
  --font-family: Arial, sans-serif;
}


body {
  font-family: var(--font-family);
  color: var(--primary-color);
  line-height: 1.5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-image: url('/./image/composicao-de-padaria-plana-redimencionada.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


p {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}


li {
  list-style-type: none;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}


header {
  padding: 20px;
  text-align: center;
}


header h1 {
  margin-bottom: 10px;
}


h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: "Sevillana", cursive;
  color: #9f4595; 
  font-weight: 400;
  font-style: normal;
  margin-top: 150px;

   /* Adicionando o contorno */
   -webkit-text-stroke: 2px #333; /* Para navegadores baseados no WebKit (Chrome, Safari) */
   text-shadow: 2px #333;
}


h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;

}


h4 {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  font-style: normal;
}


h5 {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  text-decoration: underline;
}


.container {
  flex: 1; 
}


.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}


.container #principal .row .search-bar {
  width: 600px !important; 
  height: 40px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 10px !important;
  margin-right:3px !important;
}

.container #principal .row .pesquisar {
  padding: 10px 20px !important;
  background-color: #9f4595 !important; 
  color: white !important;
  border: none !important;
  height: 39px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}


.container #principal .row .pesquisar:active {
  background-color: #782f78 !important;
  transform: translateY(2px) !important;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) !important;
}

/* .main {
    padding: 20px;
    display: flex;
    justify-content: center;
} */

.roda-pe {
    padding: 20px;
    text-align: center;
    margin-top: 200px;
    background-color: #fbe0e0;
    border-top: 1px solid #8d8282;
}

.contato {
    padding: 15px;
    text-align: center;
}

.resultado {
    border: 4px solid #9f435b;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('/./image/fundo-de-papel.jpg');
    border-radius: 8px;
}
  
.resultado h2 {
    margin-bottom: 10px;
}
  
.resultado a {
    color: #007bff;
    text-decoration: none;
}
  
.resultado a:hover {
    text-decoration: underline;
}

.voltar {
  padding: 5px 10px;
  background-color: #9f4595; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}