

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}


:root {
  --font-family: Arial, sans-serif;
}


body {
  background-image: url('/./image/composicao-de-padaria-plana-redimencionada.jpg');
  background-repeat: no-repeat;
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center;
  height: 100vh; /* Garante que o corpo ocupe 100% da altura da tela */
}

/* Adicionando uma regra específica para telas menores */
@media (max-width: 576px) {
  body {
      background-size: cover; /* Garante que continue cobrindo a tela */
      height: auto; /* Permite que a altura se ajuste conforme o conteúdo */
  }
}


p {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}


li {
  list-style-type: none;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}


header {
  padding: 20px;
  text-align: center;
}


h1 {
  /* ... outros estilos ... */
  font-size: 2.5rem; /* Tamanho base */
}

@media (max-width: 576px) { 
  h1 {
      font-size: 2rem; /* Tamanho menor para telas pequenas */
  }
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-family: "Sevillana", cursive;
  color: #9f4595; 
  font-weight: 400;
  font-style: normal;
  margin-top: 150px;
   -webkit-text-stroke: 2px #333; /* Para navegadores baseados no WebKit (Chrome, Safari) */
   text-shadow: 2px #333;
}


h3 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1rem;

}


h4 {
  font-size: 2rem;
  font-family: "Indie Flower", cursive;
  font-style: normal;
}


h5 {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  text-decoration: underline;
}


.container {
  flex: 1; 
}


.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}


.roboto-slab {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}


#principal .row .search-bar {
  width: 100%; 
  max-width: 600px;
  height: 40px ;
  border: 1px solid #ccc ;
  border-radius: 5px;
  padding: 10px ;
  margin-right:3px;
  

}


@media (max-width: 576px) { 
  h1 {
      font-size: 3.5rem;
  }
  
  #principal .row .pesquisar {
      margin-left: 0; 
      width: 100%; /* Faz o botão ocupar 100% da largura disponível */
  }
}

#principal .row .pesquisar {
  padding: 10px 20px;
  background-color: #9f4595 ; 
  color: white ;
  border: none ;
  height: 39px ;
  border-radius: 5px ;
  cursor: pointer;
  
}


#principal .row .pesquisar:active {
  background-color: #782f78 ;
  transform: translateY(2px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.principal {
  padding: 20px;
  display: flex;
  justify-content: center;
  padding-top: 65px; /* Adiciona espaço no topo para evitar que o conteúdo fique colado no título */
}

@media (max-width: 576px) { 
  .principal {
      padding-top: 35px; /* Ajusta o padding para telas pequenas */
  }
}

.roda-pe {
    padding: 20px;
    text-align: center;
    margin-top: 200px;
    background-color: #fbe0e0;
    border-top: 1px solid #8d8282;
}

.contato {
    padding: 15px;
    text-align: center;
}

.resultado {
    border: 4px solid #9f435b;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-image: url('/./image/fundo-de-papel.jpg');
    border-radius: 8px;
}
  
.resultado h2 {
    margin-bottom: 10px;
}
  
.resultado a {
    color: #007bff;
    text-decoration: none;
}
  
.resultado a:hover {
    text-decoration: underline;
}

.voltar {
  padding: 5px 10px;
  background-color: #9f4595; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}